<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.generally2.cooboo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GJeanActivity"/>
        <activity android:name=".GMaryActivity" />
        <activity android:name=".GWinnieActivity" />
        <activity android:name=".GBonnieActivity" />
        <activity android:name=".GIrisActivity" />
        <activity android:name=".GTinaActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Enchiladas" />
        <activity android:name=".AppleBread" />
        <activity android:name=".MmBread" />
        <activity android:name=".ZucchiniMuffin" />
        <activity android:name=".ZucchiniBread" />
        <activity android:name=".PotatoSalad" />
        <activity android:name=".FluffSalad" />
        <activity android:name=".GooeyButter" />
        <activity android:name=".SoftCaramels" />
        <activity android:name=".Calabacitas" />
        <activity android:name=".ChipperChamps" />
        <activity android:name=".GreenChili" />
        <activity android:name=".Guacamole" />
        <activity android:name=".FabulousPasta" />
        <activity android:name=".WheatBread" />
        <activity android:name=".PBSquares" />
        <activity android:name=".Tortilla" />
        <activity android:name=".Tamales" />
        <activity android:name=".CarrotCake" />
        <activity android:name=".TunaCasserole" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Salmon" />
        <activity android:name=".Spaghetti" />
        <activity
            android:name=".BookAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".Brownies" />
    </application>

</manifest>